*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: #06aed5;
  --secondary-color: #fff1d0;
  --text-color: #f0c808;
  --background-color: #06aed5;
  --border-color: #dd1c1a;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.main {
  display: grid;
  height: 100vh;
  background-color: var(--secondary-color);
  animation-name: dynamicbackground;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.footer {
  background-color: var(--secondary-color);
}

.results {
  background-color: var(--secondary-color);
}

@keyframes dynamicbackground {
  from {
    color: var(--text-color);
  }
  50% {
    color: black;
  }
  to {
    color: var(--text-color);
  }
}

.character-anker {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 2em;
}
